* {
	margin: 0;
	height: 100%;
}

h1 {
	font-family: 'Roboto Slab', serif;
}

p,
a {
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.nav {
	display: flex;
	position: fixed;
	height: 50px;
	background: #212121;
	width: 100%;
	flex-direction: row-reverse;
	align-items: flex-end;
}

.nav a {
	text-decoration: none;
	display: flex;
	color: #fafafa;
	padding: 0px 20px;
	align-items: center;
}

.nav a:visited {
	color: #fafafa;
}

.nav a:hover {
	background-color: #9e9e9e;
}

.home {
	display: flex;
	min-height: 100%;
	align-items: center;
	background: #0d0d0d;
}

.home_p {
	display: flex;
	color: aliceblue;
	margin-left: 50px;
	padding-right: 500px;
	text-align: justify;
	position: absolute;
	height: 50%;
	flex-direction: column;
	align-items: center;
}

.home_p > p {
	font-size: 24px;
}

.home_img {
	display: flex;
}

.crusader {
	display: flex;
	min-height: 100%;
	align-items: center;
	background-image: url('/img/1.webp');
	background-size: cover;
	flex-direction: row;
	align-items: center;
}

.crusader_img {
	display: flex;
}

.crusader_p {
	display: flex;
	padding: 40px;
	text-align: justify;
	height: 50%;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.8);
	color: whitesmoke;
	font-size: 20px;
}

.crusader_p > h1 {
	height: 20%;
}

.inquisitor {
	display: flex;
	min-height: 100%;
	align-items: center;
	background-image: url('/img/2.webp');
	background-size: cover;
}

.inquisitor_img {
	display: flex;
	order: 1;
}

.inquisitor_p {
	display: flex;
	padding: 40px;
	margin-top: 20px;
	text-align: justify;
	height: 50%;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
	color: whitesmoke;
	font-size: 20px;
}

.inquisitor_p > h1 {
	height: 20%;
}

.shaman {
	display: flex;
	min-height: 100%;
	align-items: center;
	background-image: url('/img/3.webp');
	background-size: cover;
}

.shaman_img {
	display: flex;
}

.shaman_p {
	display: flex;
	padding: 40px;
	margin-top: 20px;
	text-align: justify;
	height: 50%;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
	color: whitesmoke;
	font-size: 20px;
}

.shaman_p > h1 {
	height: 20%;
}

.mistress {
	display: flex;
	min-height: 100%;
	background-image: url('/img/4.webp');
	background-size: cover;
	align-items: center;
}

.mistress_img {
	display: flex;
	order: 1;
}

.mistress_p {
	display: flex;
	padding: 40px;
	margin-top: 20px;
	text-align: justify;
	height: 50%;
	flex-direction: column;
	color: whitesmoke;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 20px;
}

.mistress_p > h1 {
	height: 20%;
}
